services:
  - type: web
    name: telegram-weather-bot
    env: node
    region: frankfurt
    plan: free
    buildCommand: npm ci && npm run build
    startCommand: npm run start:prod
    healthCheckPath: /health
    envVars:
      - key: NODE_ENV
        value: production

